.DS_Store
__pycache__/
*.pyc
.Rhistory
.RData
node_modules/
target/
outputs/*.db
outputs/*.sqlite
outputs/urban_resilience_metrics
outputs/service_status_quality_check
outputs/urban_resilience_model
*.vcd
